/*
 * Styles for ACP control calculator
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */
/* 
.notesDiv { 
    height: 50px; 
    overflow: visible; 
} */

#errorArea {
    color:red; 
    font-size: 15;
    display: inline-block; 
    padding-left: 10px; 
}

#instructions{
    max-width: 650px; 
} 

.notes { 
    height: 70px; 
    min-width: 200px; 
    max-width: 250px; 
    color: red; 
    padding-left: 3px; 
} 

.message {
    color: red; 
}

.datetime-input { 
    max-width: 130px; 
}




