/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */

.notes {
    min-width: 150px; 
    color: red; 
} 

.message {
    color: red; 
}
