<!--Page to display the documents returned from the database-->
<!DOCTYPE html>
<html>
<head>
    
<style> 

h1 {
    margin: 2rem auto auto auto;
    text-align: center; 
}

table{ 
    border-collapse: collapse; 
    margin: 2rem auto auto auto;
} 

th {
    border: 1px solid black; 
    padding: 15px; 
}    

td { 
    border: 1px solid black; 
    padding: 10px;     
    text-align: center;
} 

</style> 

</head> 

<body> 

    <h1>
        Current Database Contents: 
    </h1> 

    <table class="display_table"> 
        <tr class="header_label">
            {% for control_key in controls[0] %}
                {% if control_key != "_id" %}
                <th>{{ control_key }}</th> 
                {% endif %}
            {% endfor %} 
        </tr>
        {% for control in controls %} 
        <tr class="control_row">
            {% for key in control %} 
                {% if key != "_id" %}
                    {% if key == "location" and control[key] == "" %}
                    <td>N/A</td>
                    {% else %}
                    <td>{{ control[key] }}</td>
                    {% endif %}
                {% endif %}
                
            {% endfor %}
        </tr> 
        {% endfor %}
</table> 

</body>
</html>
